@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-family: 'Mulish', sans-serif; }

::-webkit-scrollbar {
  background-color: black;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background-color: gray; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: .2s; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem; }
    header nav ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      height: fit-content; }
      header nav ul li {
        margin: 0 3rem; }
        header nav ul li a {
          color: white;
          font-weight: 500;
          font-size: 2rem;
          text-decoration: none; }
        header nav ul li div input {
          background-color: transparent;
          border: none;
          border-bottom: .1rem solid white;
          outline: none;
          color: white;
          width: 0;
          transition: .6s; }
        header nav ul li div label {
          cursor: pointer; }
        header nav ul li div:hover input {
          width: 15rem; }
        header nav ul li:nth-of-type(4) {
          position: relative; }
      header nav ul .result-box {
        overflow-y: scroll;
        width: fit-content;
        max-width: 50rem;
        height: 50rem;
        position: absolute;
        top: 9rem;
        right: 2.5rem;
        text-align: right;
        color: white;
        background-color: black;
        padding: 1rem;
        display: none; }
        header nav ul .result-box div {
          display: flex;
          border: 0.1rem solid white;
          margin-bottom: 1rem; }
          header nav ul .result-box div figure {
            width: fit-content;
            height: 138px; }
          header nav ul .result-box div span {
            padding: 1rem; }
            header nav ul .result-box div span h2 {
              text-align: left;
              font-size: 2.3rem; }
            header nav ul .result-box div span p {
              text-align: left;
              font-size: 1.6rem; }
          header nav ul .result-box div:nth-last-of-type(1) {
            margin: 0; }

.sticky-nav {
  z-index: 2;
  position: fixed;
  background-color: black;
  box-shadow: 1px 5px 10px #07010199;
  transition: .2s; }

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center; }
  .hero video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .hero #volume {
    font-size: 30px;
    position: absolute;
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0; }

main .description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 4.5% 5rem;
  flex-wrap: wrap; }
  main .description p {
    text-align: center;
    width: 70rem;
    min-width: 20.5rem;
    margin: 0;
    font: 'SemiBold' 'Roman' 30px/38px 'Mulish';
    color: #FFFFFF;
    font-size: 2rem; }
  main .description figure img {
    width: 100%;
    height: auto;
    max-width: 581px;
    max-height: 40rem;
    min-height: 20rem;
    min-width: 30rem; }

.red-container {
  height: fit-content;
  background: transparent linear-gradient(181deg, #000000 10%, #4e0404de 50%, #000000 100%) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.highlight {
  overflow: hidden;
  width: 100%; }
  .highlight .features, .highlight .upcoming {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center; }
    .highlight .features h1, .highlight .upcoming h1 {
      padding: 5rem;
      font-size: 2.34rem; }
    .highlight .features .slide, .highlight .upcoming .slide {
      cursor: pointer;
      position: absolute;
      top: 50%;
      font-size: 6rem;
      font-weight: bold;
      z-index: 1;
      left: .5%; }
      .highlight .features .slide:nth-of-type(2), .highlight .upcoming .slide:nth-of-type(2) {
        left: 98%;
        text-align: right; }
    .highlight .features .feature-container, .highlight .upcoming .feature-container, .highlight .upcoming .upcoming-container {
      overflow-y: hidden;
      overflow-x: hidden;
      scroll-behavior: smooth;
      position: relative;
      display: flex;
      left: 0;
      transition: .5s; }
      .highlight .features .feature-container div, .highlight .upcoming .feature-container div, .highlight .upcoming .upcoming-container div {
        height: fit-content;
        width: fit-content;
        margin-left: 1rem;
        position: relative; }
        .highlight .features .feature-container div .featured-span, .highlight .upcoming .feature-container div .featured-span, .highlight .upcoming .upcoming-container div .featured-span {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          display: none;
          font-size: 3rem;
          background-color: rgba(0, 0, 0, 0.421); }
        .highlight .features .feature-container div:hover .featured-span, .highlight .upcoming .feature-container div:hover .featured-span, .highlight .upcoming .upcoming-container div:hover .featured-span {
          display: flex; }
        .highlight .features .feature-container div:nth-of-type(1), .highlight .upcoming .feature-container div:nth-of-type(1), .highlight .upcoming .upcoming-container div:nth-of-type(1) {
          margin: 0 0 0 4rem; }
        .highlight .features .feature-container div:nth-last-of-type(1), .highlight .upcoming .feature-container div:nth-last-of-type(1), .highlight .upcoming .upcoming-container div:nth-last-of-type(1) {
          margin: 0 4rem 0 1rem; }
  .highlight .upcoming .feature-container div:hover .upcoming-span, .highlight .upcoming .upcoming-container div:hover .upcoming-span {
    display: flex; }
  .highlight .upcoming .feature-container .upcoming-span, .highlight .upcoming .upcoming-container .upcoming-span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.421); }

.blue-container {
  height: fit-content;
  background: transparent linear-gradient(181deg, #000000 10%, #1C2AA5 50%, #000000 100%) 0% 0% no-repeat padding-box;
  position: relative; }

.blue-container {
  padding: 10rem;
  box-sizing: border-box; }
  .blue-container .shop-container .shop-item {
    font-family: 'Mulish';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .blue-container .shop-container .shop-item .item-text-container {
      width: 30%;
      max-width: 50rem; }
      .blue-container .shop-container .shop-item .item-text-container h1 {
        color: white;
        position: relative;
        bottom: 3rem;
        font-weight: 400;
        font-size: 2.34rem; }
      .blue-container .shop-container .shop-item .item-text-container h2 {
        font-size: 3rem; }
      .blue-container .shop-container .shop-item .item-text-container p {
        width: 100%;
        font-size: 2rem; }
      .blue-container .shop-container .shop-item .item-text-container span {
        color: 2.2rem; }
      .blue-container .shop-container .shop-item .item-text-container .text-icons-container {
        position: relative;
        top: 1rem; }
        .blue-container .shop-container .shop-item .item-text-container .text-icons-container i {
          cursor: pointer; }
        .blue-container .shop-container .shop-item .item-text-container .text-icons-container span {
          font-size: 2.2rem;
          font-weight: 400;
          cursor: pointer; }
    .blue-container .shop-container .shop-item figure {
      margin: 5rem;
      cursor: pointer; }

.yellow-container {
  height: fit-content;
  background: transparent linear-gradient(181deg, #000000 10%, #D9CC2D 50%, #000000 100%) 0% 0% no-repeat padding-box; }

.yellow-container {
  padding: 0  10rem 10rem; }
  .yellow-container h1 {
    text-align: center;
    color: white;
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: 2.8rem; }
  .yellow-container .blog-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .yellow-container .blog-list .blog {
      position: relative;
      height: 40.5rem;
      width: 50%;
      margin: 1rem; }
      .yellow-container .blog-list .blog .blog-post {
        height: 100%;
        width: 100%;
        background-image: url("../static/euphoria.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute; }
      .yellow-container .blog-list .blog .blog-post-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.421);
        font-size: 3rem; }
      .yellow-container .blog-list .blog:hover .blog-post-content {
        display: flex; }
      .yellow-container .blog-list .blog:nth-of-type(2) .blog-post {
        background-image: url("../static/climax.jpg"); }
      .yellow-container .blog-list .blog:nth-of-type(3) .blog-post {
        background-image: url("../static/the-lighthouse.jpg"); }
