* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Mulish', sans-serif; }

::-webkit-scrollbar {
  background-color: gray;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: .2s; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; }
    header nav ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      height: fit-content; }
      header nav ul li {
        margin: 0 30px; }
        header nav ul li a {
          color: white;
          font-weight: 500;
          text-decoration: none; }

.sticky-nav {
  z-index: 2;
  position: fixed;
  background-color: #272727;
  box-shadow: 1px 5px 10px #07010199;
  transition: .2s; }

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center; }
  .hero video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .hero #volume {
    font-size: 30px;
    position: absolute;
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0; }

main .description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 4.5% 50px;
  flex-wrap: wrap; }
  main .description p {
    text-align: center;
    width: 700px;
    min-width: 250px;
    margin: 0;
    font: 'SemiBold' 'Roman' 30px/38px 'Mulish';
    letter-spacing: 0px;
    color: #FFFFFF; }
  main .description figure img {
    width: 100%;
    height: auto;
    max-width: 581px;
    max-height: 400px;
    min-height: 200px;
    min-width: 300px; }

.red-container {
  height: 1600px;
  background: transparent linear-gradient(181deg, #000000 10%, #4e0404de 50%, #000000 100%) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.highlight {
  overflow: hidden;
  width: 100%; }
  .highlight .features, .highlight .upcoming {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center; }
    .highlight .features h1, .highlight .upcoming h1 {
      padding: 50px; }
    .highlight .features .slide, .highlight .upcoming .slide {
      cursor: pointer;
      position: absolute;
      top: 50%;
      font-size: 60px;
      font-weight: bold;
      z-index: 1;
      left: .5%; }
      .highlight .features .slide:nth-of-type(2), .highlight .upcoming .slide:nth-of-type(2) {
        left: 98%;
        text-align: right; }
    .highlight .features .feature-container, .highlight .upcoming .feature-container, .highlight .upcoming .upcoming-container {
      overflow-y: hidden;
      overflow-x: hidden;
      scroll-behavior: smooth;
      position: relative;
      display: flex;
      left: 0;
      transition: .5s; }
      .highlight .features .feature-container div, .highlight .upcoming .feature-container div, .highlight .upcoming .upcoming-container div {
        height: fit-content;
        width: fit-content;
        padding-left: 10px; }
        .highlight .features .feature-container div:nth-of-type(1), .highlight .upcoming .feature-container div:nth-of-type(1), .highlight .upcoming .upcoming-container div:nth-of-type(1) {
          padding: 0 0 0 50px; }
        .highlight .features .feature-container div:nth-last-of-type(1), .highlight .upcoming .feature-container div:nth-last-of-type(1), .highlight .upcoming .upcoming-container div:nth-last-of-type(1) {
          padding: 0 50px 0 10px; }

.blue-container {
  height: 1600px;
  background: transparent linear-gradient(181deg, #000000 10%, #1C2AA5 50%, #000000 100%) 0% 0% no-repeat padding-box;
  position: relative; }

.blue-container .shop-container h1 {
  color: white;
  position: absolute;
  left: 100px; }

.blue-container .shop-container .shop-item {
  font-family: 'Mulish';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blue-container .shop-container .shop-item .item-text-container {
    width: 30%; }
    .blue-container .shop-container .shop-item .item-text-container p {
      width: 100%; }

.yellow-container {
  height: 1600px;
  background: transparent linear-gradient(181deg, #000000 10%, #D9CC2D 50%, #000000 100%) 0% 0% no-repeat padding-box; }
