*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mulish';
}

@import "lib/variables";
@import "components/scroll-bar";
@import "components/header";
@import "components/hero";
@import "components/descrip";
@import "components/highlight";