@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Mulish', sans-serif;
}

@import "lib/variables","lib/minix","lib/functions";
@import "components/scroll-bar";
@import "components/header";
@import "components/hero";
@import "components/descrip";
@import "components/red-container","components/blue-container","components/yellow-container";
@import "components/footer";