.blue-container{
    @include color-bg($blue-container){
        position: relative;
    }
}

.blue-container{
    .shop-container{
        .shop-item{
            font-family: 'Mulish';
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            .item-text-container{
                width: 30%;
                max-width: 500px;

                h1{
                    color: white;
                    position: relative;
                    bottom:30px;
                    font-weight: 400;
                }

                p{
                    width: 100%;
                }
                .text-icons-container{
                    position: relative;
                    top: 10px;
                    i{
                        cursor: pointer;
                    }
                    span{
                        font-size: 22px;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }
            figure{
                margin: 50px;
                cursor: pointer;
            }
            // &:nth-of-type(1){
            //     figure{
            //         margin-left: 50px;
            //     }
            // }
        }
    }
}