main{
    .description{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        color: white;
        padding: 4.5% 5rem;
        flex-wrap: wrap;

        p{
            text-align: center;
            width: 70rem;
            min-width:20.5rem;
            margin: 0;
            font: 'SemiBold' 'Roman' 30px/38px 'Mulish';
            color: #FFFFFF;
            font-size: 2rem;
        }

        figure{
            img{
                width: 100%;
                height: auto;
                max-width: 400px;
            }

            @media screen and (max-width:768px){
                margin-bottom: 25px;
            }
        }
    }
}