footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    height: 50rem;
    
    a{
        color: white;
        text-decoration: none;
    }

    @include media('<=425px'){
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 50px 0;
    }
}