header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: .2s;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
    
        ul{
            list-style-type: none;
            display: flex;
            margin: 0;
            height: fit-content;
    
            li{
                margin: 0 3rem;
            
                a{
                    color: white;
                    font-weight: 500;
                    font-size: 2rem;
                    text-decoration: none;
                }

                div{
                    @include seach-button;
            }
            .search{
                position: relative;
            }

            .menu-button{
                display: none;
            }
            .result-box{
                overflow-y: scroll;
                width: fit-content;
                max-width: 50rem;
                height: 50rem;
                position: absolute;
                top: 9rem;
                right: 2.5rem;
                text-align: right;
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0);
                padding: 1rem;
                display: none;

                div{
                    display: flex;
                    border: .1rem solid rgb(255, 255, 255);
                    margin-bottom: 1rem;

                    figure{
                        width: fit-content;
                        height: 138px;
                    }

                    span{
                        padding: 1rem;
                        h2{
                            text-align: left;
                            font-size: 2.3rem;
                        }
                        p{
                            text-align: left;
                            font-size: 1.6rem;
                        }
                    }

                    &:nth-last-of-type(1){
                        margin: 0;
                    }
                }
            }
            
        }
        .menu-container{
            display: none;
        }
    }
}

.sticky-nav{
    z-index: 2;
    position: fixed;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 5px 10px #07010199;
    transition: .2s;
 }
}