.red-container{
    height: 2000px;
    background: transparent linear-gradient(181deg, #000000 10%, #4e0404de 50%, #000000 100%) 0% 0% no-repeat padding-box
}

.features{
    color: white;
    text-align: center;
}

.feature-container{
    display: flex;
}

.upcoming{
    color: white;
    text-align: center;
}

.upcoming-container{
    display: flex;
}