.red-container{
    height: 2000px;
    background: $red-container
}

.highlight{
    justify-content: center;
    align-items: center;
    .features{
        color: white;
        text-align: center;

        .feature-container{
            display: flex;
        }
    }

    .upcoming{
        color: white;
        text-align: center;
    
        .upcoming-container{
            display: flex;
        }
    }
}