.red-container{
    @include color-bg($red-container){
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}

.highlight{
    overflow: hidden;
    width: 100%;
    .features{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        margin: 0 2rem;

        h1{
            padding: 5rem;
            font-size: 2.34rem;
        }

        .slide{
            cursor: pointer;
            position: absolute;
            top: 50%;
            font-size: 6rem;
            font-weight: bold;
            z-index: 1;
            left: .5%;

            &:nth-of-type(2){
                left: 98%;
                text-align: right;
            }
        }

        .feature-container{
            overflow-y: hidden;
            overflow-x: hidden;
            scroll-behavior: smooth;
            position: relative;
            display: flex;
            left: 0;
            transition: .5s;

            div{
                height: fit-content;
                width: fit-content;
                margin-left: 1rem;
                position: relative;

                .featured-span {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    display: none;
                    font-size: 3rem;
                    background-color: rgba(0, 0, 0, 0.421);
                }
                &:hover .featured-span{
                    display: flex;
                }
            }
        }
    }

    .upcoming{
        .feature-container{
            div{
                &:hover .upcoming-span{
                    display: flex;
                }
            }

            .upcoming-span {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                display: none;
                font-size: 3rem;
                background-color: rgba(0, 0, 0, 0.421);
            }
        }
    }
    .upcoming{
       @extend .features
    }

    .upcoming{
        .upcoming-container{
            @extend .feature-container
        }
    }
}