@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

:root{
    --font: 'Mulish', sans-serif;
}

*{
    font-family: var(--font);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: .2s;
}

.sticky-nav{
    position: fixed;
    background-color: rgb(39, 39, 39);
    box-shadow: 1px 5px 10px #07010199;
    transition: .2s;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header nav figure{
    margin: 0;
    margin-left: 40px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    height: fit-content;
}

li{
    margin: 0 30px;
}

li a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero video{
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#volume{
    height: 30px;
    width: 30px;
    background-image: url("/static/volume.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

.description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 4.5% 0;
}

.description img{
    max-width: 668px;
    max-height: 376px;
    width: 100%;
}

.description p{
    text-align: center;
    max-width: 700px;
    margin: 0 57px;
    font: 'SemiBold' 'Roman' 30px/38px 'Mulish';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.features{
    top: 1785px;
    left: 0px;
    width: 100%;
    height: 2552px;
    background-image: linear-gradient(181deg, #000000 4%, #4e0404de 50%, #000000 100%);
}

::-webkit-scrollbar{
    background-color: rgb(128, 128, 128);
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #4d4d4d;
    border-radius: 10px;
}
